<!-- Session Debug info -->
<% if session[:game] %>
  <hr>
  <div class="card">
    <h5 class="card-header">Debug</h5>
    <div class="card-body">
      <p class="card-text"><%= session[:game].inspect %></p>
    </div>
  </div>
<% end %>
</div>

<!-- Include this snippet into the layout -->