<legend>What about the treasure?</legend>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-primary">
    <input type="radio" name="treasure" id="add">Take it
  </label>
  <label class="btn btn-outline-primary">
    <input type="radio" name="treasure" id="remove">Leave one
  </label>
  <label class="btn btn-outline-primary">
    <input type="radio" name="treasure" id="none">Do nothing
  </label>
</div>