<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-primary">
    <input type="radio" name="treasure" id="add">Take the treasure
  </label>
  <label class="btn btn-outline-primary">
    <input type="radio" name="treasure" id="remove">Leave a treasure
  </label>
  <label class="btn btn-outline-primary">
    <input type="radio" name="treasure" id="none">Do nothing
  </label>
</div>