<div class='score next-player'>
  <legend>Who's the next player?</legend>
  <div class="input-group mb-3">
    <select class="custom-select" name="next_player">
      <option selected>Select Player</option>
      <% if @round.all_back? %>
        <% @round.players.each_with_index do |player, id| %>
          <option value="<%= id %>"><%= player %></option>
        <% end %>
      <% else %>
        <% @round.drowned_players.each do |player, id| %>
          <option value="<%= id %>"><%= player %></option>
        <% end %>
      <% end %>
    </select>
  </div>
</div>