<% content_for :title do %>
  It's Jane's turn!
<% end %>

<form id="player_actions" action='#' method='post'>
  <legend>What will Jane do?</legend>
  <%== erb :form_diving %>
  <br>

  <%== erb :form_treasure %>
  <br>

  <button type='submit' class="btn btn-outline-success">Submit</button>
</form>

<%== erb :oxygen %>

