body {
  margin: 1% auto;
  text-align: center;
}

/* Typography */

p.lead {
  font-size: 24px;
}

h1.display-4 {
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}

li.hint {
  font-size: 1rem;
  font-style: italic;
  list-style: none;
}

/* Forms */

form {
  margin-top: 1.5rem;
}

.players label {
  margin: 0px 10px 10px;
}

input {
  padding: 3px;
}

button.submit {
  margin-top: 30px;
}

legend {
  margin-bottom: 0;
}

/* Progress bar */

.progress {
  margin-top: 20px;
  margin-bottom: 10px;  
}

hr {
  margin: 30px 0px;
}

/* Misc */

.score {
  margin-top: 24px;
}

table, td, th {
  border: none !important;
}
